#canvas-wrapper {
    position: relative;
    width: '800px';
    height: '600px';
}

#canvas-wrapper #canvas,
#background {
    position: absolute;
}

#background {
    background-color: aqua;
    z-index: -10;
    object-fit: cover;
    width: 700px;
    height: 580px;
}

#back-image {
    object-fit: cover;
    width: 700px;
    height: 580px;
}